.managermain{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crd{
    height: 80vh;
    width: 80vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: url("./../../assets/patternpad.svg");
}
.header{
    position: absolute;
    top: 10vh;
    height: 8vh;
    width: 80vw;
    background-color: #af3026;
    display: flex;
    line-height: 8vh;
    justify-content: space-evenly;
}
h6{
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 3px;
}
.mainfunc{
    height: 62vh;
    width: 60vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskcreate, .taskassign, .taskreview{
    position: absolute;
    height: 62vh;
    width: 60vw;
    background-color: antiquewhite;
    // background: url("./../../assets/patternpad.svg");
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}
.div, .h1{
    color: #af3026;
    // background-color: red;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 35%;
    margin-bottom: 10px;
}
.inputTag{
    width: 20vw;
    height: 30px;
    padding-left: 5px;
}  
.label{
    margin-bottom: 5px;
    color: #af3026;
}
.inputSubmit{
    height: 40px;
    width: 10vw;
    border: 1px solid #707070;
    cursor: pointer;
    background-color: #af3026;
    color: #fff;
}